@font-face {
    font-family: 'Blinker-Regular';
    src: url('./resources/fonts/Blinker/Blinker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker-Thin';
    src: url('./resources/fonts/Blinker/Blinker-Thin.ttf') format('truetype');
}


@font-face {
    font-family: 'Blinker-Light';
    src: url('./resources/fonts/Blinker/Blinker-Light.ttf') format('truetype');
}

html {
    font-family: 'Blinker-Light', sans-serif;
    text-align: center;
    background-color: #141414;
    /* Gunmetal color */
    color: #ffffff;
    /* White text for better contrast */
    margin: 0;
    padding: 0;
    padding-top: 0px;
    height: 100%;
    /* Make the body and html take full height */
}

body {
    font-family: 'Blinker-Light', sans-serif;
    text-align: center;
    background-color: #141414;
    /* Gunmetal color */
    color: #ffffff;
    /* White text for better contrast */
    margin: 0;
    padding: 0;
    padding-top: 700px;
    height: 100%;
    /* Make the body and html take full height */
}

.content {
    min-height: 100%;
    /* Ensures the content area takes full height */
    /* padding-bottom: 50px; */
    /* Add space for the footer */
}

.a {
    text-decoration: none;
    color: #c8c8c8;
}

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(700px + 1px);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
    will-change: background-image; /* hint to browser about upcoming background changes */
}

.short-banner {
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    animation: slideshow 40s infinite, zoom 10s infinite;
    z-index: -1;
}

/* Keyframes for background image slideshow */
@keyframes slideshow {

    0%,
    25% {
        background-image: url('resources/img/banner.JPG'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    25.01%,
    50% {
        background-image: url('resources/img/static/gundam001.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    50.01%,
    75% {
        background-image: url('resources/img/static/gundam002.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    75.01%,
    100% {
        background-image: url('resources/img/static/gundam003.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }
}
/* Keyframes for fade-in and fade-out with extended invisible period */
@keyframes zoom {
    0%, 10% { /* Stay invisible for the first second */
        opacity: 0;
    }
    20%, 50% { /* Fade-in quickly at 20% and stay fully visible */
        opacity: 1;
    }
    80%, 90% { /* Stay visible till 90% */
        opacity: 1;
    }
    100% { /* Fade out quickly at the end */
        opacity: 0;
    }
}

.banner .tab {
    margin-left: 10px;
    /* Adjust as needed */
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* Adjust text color as needed */
    text-decoration: none;
    font-size: 1.2em;
    /* Adjust font size as needed */
}

.contact-container {
    margin-right: 10px;
    margin-bottom: 10px;
}

.contact-info a {
    color: #c8c8c8;
    text-decoration: none;
}

.contact-info p {
    margin-bottom: 5px;
    color: #c8c8c8;
}

.navigation-container{
    margin-bottom: 10px;
}

.navigation-container img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo-container {
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo img {
    vertical-align: middle;
    width: 30px;
    /* Consistent size for the icon */
    height: 30px;
    margin-right: 5px;
    /* Space between the logo and text */
}

.logo h1 {
    font-size: 20px;
    margin: 0;
    text-align: left;
}


.social-media-buttons img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    /* 避免默认的基线对齐 */
}

.social-media-buttons a {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

}


h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #c8c8c8;
    /* Contrast color for header */
}
.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab {
    width: 100px;
    padding: 10px;
    background-color: #1e1e1e00;
    color: #c8c8c8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 12px; /* Add font size */
}

.tab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    transform: translate(-150%, -150%) rotate(45deg);
    transition: transform 0.5s;
    pointer-events: none;
}

.tab:active::before,
.active-tab::before {
    transform: translate(0px, -10px) rotate(45deg);
}

.tab:active {
    color: #ffd700;
}

.active-tab {
    color: #ffd700;
}

.tab:hover {
    color: #ffd700;
}

.tab-content {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* Stretch items to the same height */
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
    max-width: 1000px;
}

.item {
    background-color: #1E1E1E;
    margin: 0 auto;
    /* Center horizontally */
    width: calc(25% - 20px);
    /* 100% / 4 = 25% */
    /* Ensure the item's width adapts to its content and accounts for gap */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    /* Ensure responsiveness */
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
}

@media (max-width: 768px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 20px);
    }
}

.image-container {
    position: relative;
    width: 100%;
    /* Use relative width */
    max-width:
        00px;
    /* Maximum width */
    height: auto;
    /* Height will be adaptive */
    overflow: hidden;
    /* Hide any overflow */
    display: flex;
    justify-content: center;
    /* Center image horizontally */
    align-items: center;
    /* Center image vertically */
    margin: 0 auto;
    /* Center the container itself */
}

.item img {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.image-container img {
    width: 100%;
    /* Image takes full width of the container */
    height: auto;
    /* Height is adaptive to maintain aspect ratio */
    object-fit: contain;
    /* Ensure the image fits within the container */
}

/* @media (min-width: 1px) {
    .item img {
        max-width: 350px;
    }

    .image-container {
        max-width: 700px;
    }

  
}

@media (min-width: 1024px) {
    .item img {
        max-width: 800px;
    }

    .image-container {
        max-width: 1000px;
    }


} */

.attributes {
    padding: 10px;
    color: #dadada;
    font-size: 22px;
    text-align: left;
}

.attributes h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: fit-content;
    white-space: normal;
}

.attributes p {
    margin: 5px 0;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    height: 0;
    padding-bottom: 56.25%;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the image container horizontally */
}

.product-info {
    display: flex;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
    margin: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


footer {
    font-size: 14px;
    padding: 5px 0;
    color: #c8c8c8;
    background-color: #2D2926;
    text-align: center;
    width: 100%;
    /* Full width of the page */
    position: relative;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.footer-policy {
    color: rgb(65, 65, 65);
    text-decoration: none;
}

.footer-policy:hover {
    color: rgb(119, 119, 119);
    text-decoration: underline;
}

.footer-content {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .footer-content {
        gap: 0px;
        flex-direction: column;
    }
}