@font-face {
    font-family: 'Blinker-Regular';
    src: url('./resources/fonts/Blinker/Blinker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker-Thin';
    src: url('./resources/fonts/Blinker/Blinker-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker-Light';
    src: url('./resources/fonts/Blinker/Blinker-Light.ttf') format('truetype');
}

html,
body {
    font-family: 'Blinker-Light', sans-serif;
    text-align: center;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-top: 700px;
}

.content {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #c8c8c8;
}

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(700px + 1px);
    display: flex;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
    will-change: background-image;
    flex-direction: column;
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.banner-slogan {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 40vw;
}

/* Ensure all text scales together */
.banner-slogan h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    /* Min 1.5rem, flexible at 4vw, Max 3rem */
    line-height: 1.2;
}

.banner-slogan p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    /* Min 0.8rem, flexible at 1.5vw, Max 1.2rem */
    margin: 0;
    padding: 0;
}

/* Make it more adaptive on smaller screens */
@media (max-width: 768px) {
    .banner-slogan {
        width: 60vw;
    }
}

@media (max-width: 480px) {
    .banner-slogan {
        width: 80vw;
    }
}

/* .banner-slogan p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.2;
} */

.banner-extras {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    z-index: 1001;
}

.short-banner {
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1000;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    animation: slideshow 40s infinite, zoom 10s infinite;
    z-index: -1;
}

@keyframes slideshow {

    0%,
    25% {
        background-image: url('resources/img/banner.JPG'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    25.01%,
    50% {
        background-image: url('resources/img/static/gundam001.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    50.01%,
    75% {
        background-image: url('resources/img/static/gundam002.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }

    75.01%,
    100% {
        background-image: url('resources/img/static/gundam003.jpg'), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(45, 41, 38, 0) 80%);
    }
}

@keyframes zoom {

    0%,
    10% {
        opacity: 0;
    }

    20%,
    50% {
        opacity: 1;
    }

    80%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.banner .tab {
    margin-left: 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-container {
    margin-right: 10px;
    margin-bottom: 10px;
}

.contact-info a,
.contact-info p {
    color: #c8c8c8;
    text-decoration: none;
    margin-bottom: 5px;
}

.navigation-container {
    margin-bottom: 10px;
}

.navigation-container img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo-container {
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.logo h1 {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.social-media-buttons img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #c8c8c8;
}

.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    width: 100px;
    padding: 10px;
    background-color: #1e1e1e00;
    color: #c8c8c8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
}

.tab-icon {
    width: 24px;
    height: 24px;
    padding-bottom: 5px;
}

.tab span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(253, 251, 211, 0.1), rgba(253, 251, 211, 0));
    transform: translate(-50%, 100%) rotate(0deg);
    transition: transform 0.2s ease-out;
    pointer-events: none;
    border-radius: 8px;
}

.tab:active::before,
.active-tab::before {
    transform: translate(-50%, 50%) rotate(0deg);
}

.tab:active,
.active-tab,
.tab:hover {
    color: #ffd700;
}

.tab-content {
    display: none;
    padding: 0 20px 20px;
}

.tab-content.active {
    display: block;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    gap: 30px;
}

.item {
    background-color: #1E1E1E;
    width: calc(25% - 20px);
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 20px);
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.item img,
.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.attributes {
    padding: 10px;
    color: #c8c8c8;
    font-size: 22px;
    text-align: left;
}

.attributes h3 {
    margin: 0;
    width: fit-content;
    white-space: normal;
}

.attributes p {
    margin: 5px 0;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding-bottom: 56.25%;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info {
    display: flex;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}

footer {
    font-size: 14px;
    padding: 5px 0;
    color: #c8c8c8;
    background-color: #2D2926;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.footer-policy {
    color: rgb(65, 65, 65);
    text-decoration: none;
}

.footer-policy:hover {
    color: rgb(119, 119, 119);
    text-decoration: underline;
}

.footer-content {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .footer-content {
        gap: 0;
        flex-direction: column;
    }
}

.tab-content-header {
    margin: 34px 0 27px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #c8c8c8;
}

.tab-content-header h2 {
    margin: 0;
    padding: 0;
}

.tab-content-header img {
    height: 25px;
    width: 25px;
}

.tab-content-header p {
    font-size: 1rem;
    line-height: 1.8;
    font-weight: lighter;
    margin: 0 0 35px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ffd700;
}

/* Add a background color and some padding around the form */
.form-container {
    width: 80%;
    background-color: #1e1e1e;
    padding: 20px;
    margin: 50px auto;
}

.form-container h2 {
    color: #c8c8c8;
    text-align: left;
}

/* Style the labels */
label {
    font-weight: bold;
    color: #c8c8c8;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.story {
    max-width: 800px;
    word-wrap: break-word;
    text-align: start;
}

.story-header {
    background-color: #919191;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section {
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8b2727;
}

h2 {
    color: #333;
}

.about-us-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: start;
}

.about-us-content img {
    max-width: 100%;
    height: auto;
}